.header {
    background-color: rgba(240, 240, 215, 0.5);;
    color: #4614bc;
    padding: 1rem;
    text-align: center;
  }


  .header h1 {
    margin: 0;
    font-size: 8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
  }
  
  .header nav {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
  }
  
  .header nav a {
    margin: 0 1rem;
    color: #4614bc;
    text-decoration: none;
    text-align: left;
  }
  
  .header nav a:hover {
    text-decoration: underline;
  }
  